/* Coolors Exported Palette - https://coolors.co/fbaf00-ffd639-ffa3af-007cbe-00af54 */

/* CSS HEX */
--selective-yellow: #fbaf00ff;
--gold: #ffd639ff;
--salmon-pink: #ffa3afff;
--honolulu-blue: #007cbeff;
--pigment-green: #00af54ff;

/* CSS HSL */
--selective-yellow: hsla(42, 100%, 49%, 1);
--gold: hsla(48, 100%, 61%, 1);
--salmon-pink: hsla(352, 100%, 82%, 1);
--honolulu-blue: hsla(201, 100%, 37%, 1);
--pigment-green: hsla(149, 100%, 34%, 1);

/* SCSS HEX */
$selective-yellow: #fbaf00ff;
$gold: #ffd639ff;
$salmon-pink: #ffa3afff;
$honolulu-blue: #007cbeff;
$pigment-green: #00af54ff;

/* SCSS HSL */
$selective-yellow: hsla(42, 100%, 49%, 1);
$gold: hsla(48, 100%, 61%, 1);
$salmon-pink: hsla(352, 100%, 82%, 1);
$honolulu-blue: hsla(201, 100%, 37%, 1);
$pigment-green: hsla(149, 100%, 34%, 1);

/* SCSS RGB */
$selective-yellow: rgba(251, 175, 0, 1);
$gold: rgba(255, 214, 57, 1);
$salmon-pink: rgba(255, 163, 175, 1);
$honolulu-blue: rgba(0, 124, 190, 1);
$pigment-green: rgba(0, 175, 84, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-right: linear-gradient(90deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-bottom: linear-gradient(180deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-left: linear-gradient(270deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-top-right: linear-gradient(45deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-bottom-right: linear-gradient(135deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-top-left: linear-gradient(225deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-bottom-left: linear-gradient(315deg, #fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);
$gradient-radial: radial-gradient(#fbaf00ff, #ffd639ff, #ffa3afff, #007cbeff, #00af54ff);