/* Coolors Exported Palette - https://coolors.co/034732-008148-c6c013-ef8a17-ef2917 */

/* CSS HEX */
--british-racing-green: #034732ff;
--sea-green: #008148ff;
--citrine: #c6c013ff;
--tangerine: #ef8a17ff;
--off-red-rgb: #ef2917ff;

/* CSS HSL */
--british-racing-green: hsla(161, 92%, 15%, 1);
--sea-green: hsla(153, 100%, 25%, 1);
--citrine: hsla(58, 82%, 43%, 1);
--tangerine: hsla(32, 87%, 51%, 1);
--off-red-rgb: hsla(5, 87%, 51%, 1);

/* SCSS HEX */
$british-racing-green: #034732ff;
$sea-green: #008148ff;
$citrine: #c6c013ff;
$tangerine: #ef8a17ff;
$off-red-rgb: #ef2917ff;

/* SCSS HSL */
$british-racing-green: hsla(161, 92%, 15%, 1);
$sea-green: hsla(153, 100%, 25%, 1);
$citrine: hsla(58, 82%, 43%, 1);
$tangerine: hsla(32, 87%, 51%, 1);
$off-red-rgb: hsla(5, 87%, 51%, 1);

/* SCSS RGB */
$british-racing-green: rgba(3, 71, 50, 1);
$sea-green: rgba(0, 129, 72, 1);
$citrine: rgba(198, 192, 19, 1);
$tangerine: rgba(239, 138, 23, 1);
$off-red-rgb: rgba(239, 41, 23, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-right: linear-gradient(90deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-bottom: linear-gradient(180deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-left: linear-gradient(270deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-top-right: linear-gradient(45deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-bottom-right: linear-gradient(135deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-top-left: linear-gradient(225deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-bottom-left: linear-gradient(315deg, #034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);
$gradient-radial: radial-gradient(#034732ff, #008148ff, #c6c013ff, #ef8a17ff, #ef2917ff);